aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
defusedxml
distro
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
narwhals
networkx
numpy
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
python-dateutil
python-dotenv
pytube
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
yarl
youtube-transcript-api
zstandard
